.rootPane {
    -fx-background-image: url("../images/banners/menu_banner_alt.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.alertText {
    -fx-text-fill: #451616;
    -fx-font-size: 16px;
}