.rootPane {
    -fx-background-image: url("../images/board_bg.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boardPane {
    -fx-background-image: url("../images/board.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.spacePane {
    /*-fx-background-color: mediumblue;*/
    -fx-opacity: inherit;
}

.glassPane {
    -fx-background-color: #a5f1f6;
    -fx-opacity: 0.7;
}

.glassPane:hover {
    -fx-effect: dropshadow(gaussian, #a5f1f6, 50, 0.8, 0, 0);
}

.glassPane:disabled {
    -fx-opacity: 1;
}