.rootPane {
    -fx-background-image: url("../images/board_bg.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boardPane {
    -fx-background-image: url("../images/board.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.grayed {
    -fx-background-color: #939bb6;
    -fx-opacity: 0.4;
}

.spacePane {
    -fx-opacity: inherit;
}

.spacePane.lvlOne {
    -fx-background-image: url("../images/buildings/firstfloor.png");
}

.spacePane.lvlOne.lvlTwo {
    -fx-background-image: url("../images/buildings/secondfloor.png");
}

.spacePane.lvlOne.lvlTwo.lvlThree {
    -fx-background-image: url("../images/buildings/thirdfloor.png");
}

.spaceWorkerPane {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
    -fx-scale-z: 0.6;
}

.spaceWorkerPane.dome {
    -fx-background-image: url("../images/buildings/dome.png");
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
}

.spaceWorkerPane.workerBlue {
    -fx-background-image: url("../images/workers/worker_cicled_blue.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}

.spaceWorkerPane.workerGreen {
    -fx-background-image: url("../images/workers/worker_cicled_green.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}

.spaceWorkerPane.workerRed {
    -fx-background-image: url("../images/workers/worker_cicled_red.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}

.glassPane {
    -fx-background-color: #a5f1f6;
    -fx-opacity: 0.6;
}

.glassPane:hover {
    -fx-effect: dropshadow(gaussian, #a5f1f6, 50, 0.8, 0, 0);
}

.glassPane:selected {
    -fx-background-color: #a5f1f6;
    -fx-opacity: 1;
}

.glassPane:disabled {
    -fx-background-color: none;
    -fx-opacity: 1;
}

.glassPane.glassPaneSelected {
    -fx-background-color: #a5f1f6;
    -fx-opacity: 1;
}

.effectImage {
    -fx-image: url("../images/buttons/heropower_active.png");
    -fx-cursor: hand;
}

.effectImage:disabled {
    -fx-image: url("../images/buttons/heropower_inactive.png");
}

.effectImage:hover {
    -fx-effect: dropshadow(gaussian, #ae74de, 50, 0.3, 0, 0);
}