.rootPane {
    -fx-background-image: url("../images/board_bg.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boardPane {
    -fx-background-image: url("../images/board.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.spacePane {
    /*-fx-background-color: mediumblue;*/
    -fx-opacity: inherit;
}

.spacePane.lvlOne {
    -fx-background-color: green;
}

.spacePane.lvlOne.lvlTwo {
    -fx-background-color: mediumblue;
}

.spacePane.lvlOne.lvlTwo.lvlThree {
    -fx-background-color: blue;
}

.spacePane.dome {
    -fx-background-color: darkblue;
}

.spacePane.workerBlue {
    -fx-background-image: url("../images/workers/worker_cicled_blue.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.spacePane.workerGreen {
    -fx-background-image: url("../images/workers/worker_cicled_green.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.spacePane.workerRed {
    -fx-background-image: url("../images/workers/worker_cicled_red.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.glassPane {
    -fx-background-color: #a5f1f6;
    -fx-opacity: 0.7;
}

.glassPane:hover {
    -fx-effect: dropshadow(gaussian, #a5f1f6, 50, 0.8, 0, 0);
}

.glassPane:disabled {
    -fx-background-color: none;
    -fx-opacity: 1;
}