@font-face {
    font-family: 'LillyBelle';
    src: url('../fonts/LillyBelle.ttf');
}

.rootPane {
    -fx-background-image: url("../images/connect_scene.png");
    -fx-background-size: stretch;
}

.customText {
    -fx-font-family: 'LillyBelle';
    -fx-text-fill: #451616;
}