@font-face {
    font-family: 'LillyBelle';
    src: url("../fonts/LillyBelle.ttf");
}

.customText {
    -fx-font-family: 'LillyBelle';
    -fx-text-fill: #451616;
}

.customTextAlt {
    -fx-font-family: 'LillyBelle';
    -fx-text-fill: #f2e0d6;
}

.spaceLabel {
    -fx-opacity: 1;
    -fx-font-size: 18;
}

.bigButton {
    -fx-font-family: 'LillyBelle';
    -fx-font-size: 18;
    -fx-text-fill: #451616;
    -fx-alignment: top-center;
    -fx-background-image: url("../images/buttons/big_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.bigButton:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.smallButton {
    -fx-font-family: 'LillyBelle';
    -fx-font-size: 16;
    -fx-text-fill: #451616;
    -fx-background-image: url("../images/buttons/small_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-label-padding: -3px 0 0 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.smallButton:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-font-size: 14;
    -fx-label-padding: 0px 0 0 0;

    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.smallButton:disabled {
    -fx-font-family: 'LillyBelle';
    -fx-font-size: 16;
    -fx-label-padding: 0px 0 0 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-text-fill: #451616;
    -fx-alignment: top-center;
    -fx-background-image: url("../images/buttons/small_button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.7;
}

.radioButton {
    -fx-font-size: 16;
}

.radioButton:selected {
    -fx-font-size: 16;
}

.menuBanner {
    -fx-background-image: url("../images/banners/menu_banner.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.menuBannerAlt {
    -fx-background-image: url("../images/banners/menu_banner_alt.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

.menuBackground {
    -fx-background-image: url("../images/menu_bg.png");
    -fx-background-size: stretch;
    -fx-position: relative;
}

.menuField {
    -fx-font-size: 16;
}

.menuField:error {
    -fx-border-color: red;
}

.blueGlow:hover {
    -fx-effect: dropshadow(gaussian, #3333ff, 20, 0.3, 0, 0);
}

.blueGlow:disabled {
    -fx-background-color: #939bb6;
    -fx-opacity: 0.7;
}

.greenGlow:hover {
    -fx-effect: dropshadow(gaussian, #00cc00, 20, 0.3, 0, 0);
}

.greenGlow:disabled {
    -fx-background-color: #939bb6;
    -fx-opacity: 0.7;
}

.redGlow:hover {
    -fx-effect: dropshadow(gaussian, #ff3333, 20, 0.3, 0, 0);
}

.redGlow:disabled {
    -fx-background-color: #939bb6;
    -fx-opacity: 0.7;
}


